body{
    font-family: 'NikoshBAN', Arial, sans-serif;
    background:#f2f2f2;
    padding:20px;
}

@font-face {
    font-family: 'NikoshBAN';
    src: url('fonts/NikoshBAN.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.form-box{
    max-width:600px;
    margin:auto;
    background:#9bf8f6;
    padding:15px;
    border-radius:8px;
}

.field{
    display:flex;
    align-items:center;
    margin-bottom:8px;
}

.field label{
    width:30%;
    font-weight:bold;
    font-size:14px;
}

.field input,
.field select{
    width:70%;
    padding:7px;
    border:1px solid #ccc;
    border-radius:4px;
}

button{
    width:100%;
    padding:10px;
    background:#28a745;
    color:#fff;
    border:none;
    margin-top:10px;
    font-size:16px;
    cursor:pointer;
}

/* Preview */
#preview{
    max-width:98%;
    margin:20px auto;
    background:#fff;
    padding:15px;
    display:none;
}

.print-btn{
    background:#007bff;
    padding:8px 15px;
    border:none;
    color:#fff;
    margin-top:10px;
}

@media print{

    @page{
        size: A4;
        margin: 8mm 15mm 15mm 15mm;
        /* top right bottom left */
    }

    body{
        font-family: 'NikoshBAN', Arial, sans-serif;
        font-size: 18pt;
        line-height: 1;
        background: none;
        margin: 0;
        padding: 0;
    }

    body *{
        visibility: hidden;
    }

    #preview,
    #preview *{
        visibility: visible;
        font-size: 18pt;
    }

    #preview{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        margin: 0;
        padding: 0;
    }

    button,
    .print-btn{
        display: none;
    }

    <button class="print-btn" onclick="exportPDF()">PDF Export</button>
}

table, td, th {
  
  padding: 10px;
  
  
}

.table {
  border-collapse: collapse;
  text-align: left;
}

.container{
    display: flex;
    gap: 30px; /* দুই লাইনের মাঝখানে ফাঁকা */
}

.line{
    border: none;
    padding: 10px;
    width: 50%;
}


.table-box{
    max-width:800px;
    margin:auto;
    background:#0b0000;
    padding:15px;
    border-radius:8px;
}

table{
    width:100%;
    border-collapse:collapse;
}

td{
    padding:6px;
    text-align:left;
}

input{
    width:100%;
    padding:5px;
    box-sizing:border-box;
}



